*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carddd{
    display: flex;
    justify-content: center;
  
    padding-top: 30px;
    
}
body{
    background-color: #222;
  
}
img{
    display: block;

}
h2{
    padding: 15px;
    color: azure;
}
.img{
    width: 400px;

}
.card{
   margin-left: 20px;
    width: 400px;
    height: 535px;
    background-color: #191414b6;
    border-bottom: 3px solid  chartreuse ;
}
.card_1{
    width: 400px;
    height: 535px;
    background-color: #191414b6;
    border-bottom: 3px solid  chartreuse ;
}
.p{
    padding-left: 15px;
    color: darkgray ;
}
.a{
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 20px;
}
.b{
    color:  chartreuse;
    text-decoration: none;
}
.cardd_2{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.imgg{
    display: flex;
}
.im{
    width: 60px;
}
.ota{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color : #666267;
   
    border-bottom: 3px solid  chartreuse ;
   
}
.ul{
    padding-top: 20px;
    list-style: none;
    display: flex;
    column-gap: 80px;
    
}
.ii{
    padding-left: 10px;
}

.footer{
    display: flex;
    padding-bottom: 40px;
}
.foter{
    padding-left: 130px;
}
.shop{
    color: aliceblue;
}

.rez{
    color: darkgrey;
    padding-top: 15px;

}
.rez:hover{
    color: floralwhite;
    text-decoration: underline;
}
.img_1{
    width: 50px;
    border-radius: 30px;
    
}
.imgg{
   column-gap: 10px;
   padding-top: 15px;
   padding-left: 100px;
}
.h3{
    color: chartreuse;
}
.hr{
    padding-bottom: 50px;
    padding-left: 70px;
    
}
footer{
display: flex;
justify-content: space-evenly;
}
@media only screen and (max-width:1283px){
        .ii{
         display: none;   
        }
        .carddd{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-left: 140px;
        }
        .card_1{
        margin-top: 30px;
        }
        .cardd_2{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-left: 140px;
        }
        .imgg{
            padding-left: 10px;
        }
        .foter{
            padding-left: 60px;
        }
}


@media only screen and (max-width:991px){
    .ii{
     display: none;   
    }
    .im{
    padding-top: 15px;
    }
    .ul{
        display: none;
    }
    .carddd{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 20px;
    }
    .card{
        margin-left: 5px;
        margin-right: 10px;
    }
    .card_1{
    margin-top: 30px;
    margin-left: 10px;
    }
    .cardd_2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 30px;
            }
    .imgg{
        padding-left: 10px;
    }
    .foter{
        padding-left: 60px;
    }
}
@media only screen and (max-width:397px){
    .ii{
     display: none;   
    }
    .im{
    padding-top: 15px;
    }
    .ul{
        display: none;
    }
    .carddd{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 20px;
      
    }
    .card{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .card_1{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    }
    .cardd_2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 30px;
            }
    .imgg{
        padding-left: 10px;
    }
    .foter{
        padding-left: 60px;
        padding-top: 40px;
    }
    .footer{
        flex-wrap: wrap;
    }
}



@media only screen and (max-width:845px){
    .ii{
     display: none;   
    }
    .im{
    padding-top: 15px;
    }
    .ul{
        display: none;
    }
    .carddd{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
       
    }
    .card{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .card_1{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    }
    .cardd_2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
      
            }
    .imgg{
        padding-left: 10px;
    }
    .foter{
        padding-left: 60px;
        padding-top: 40px;
    }
    .footer{
        flex-wrap: wrap;
    }

    .card{
        width: 300px;
        height: 535px;
        background-color: #191414b6;
        border-bottom: 3px solid  chartreuse ;
        margin-right: 20px;
    }
    .card_1{
        width: 300px;
        height: 535px;
        background-color: #191414b6;
        border-bottom: 3px solid  chartreuse ;
    }
    
    .img{
        width: 300px;
    }

}



@media only screen and (max-width:639px){
    .ii{
     display: none;   
    }
    .im{
    padding-top: 15px;
    }
    .ul{
        display: none;
    }
    .carddd{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 20px;
      
    }
    .card{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .card_1{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    }
    .cardd_2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 30px;
            }
    .imgg{
        padding-left: 10px;
    }
    .foter{
        padding-left: 60px;
        padding-top: 40px;
    }
    .footer{
        flex-wrap: wrap;
    }
}